html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: $btn;
  opacity: .5;
}

body::-webkit-scrollbar-track {
  background: #fff;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
a {
  outline: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-weight: 400;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.images {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-size: 30px;
  padding: 38px 30px;
  color: #000;
}