html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: $text;
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: $btn;
  opacity: 0.5;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
a {
  outline: transparent;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-weight: 400;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  color: #fff;
  font-size: 15px;

  &--blue {
    background-color: $btn;
    transition: background-color 0.3s;

    &:hover {
      background-color: $hover-blue;
    }
  }

  &--md {
    padding: 6px 31px;
    border-radius: 23px;
  }

  &--lg {
    padding: 17px 31px;
    border-radius: 28px;
  }

  &--sm {
    padding: 5px 14px;
    border-radius: 14px;
    line-height: 1.2;
  }

  &--transparent {
    border: 1px solid #fff;
    transition: all 0.3s;

    &:hover {
      background-color: #fff;
      color: $btn;
    }
  }

  &--silver {
    background-color: $tag-btn;
    transition: background-color 0.3s;

    &:hover {
      background-color: #c4cad2;
    }
  }
}

.title {
  font-size: 30px;
  color: #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}