html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: $text;
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: $btn;
  opacity: 0.5;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
a {
  outline-color: $btn;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-weight: 400;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  &__img {
    max-width: 200px;
    width: 100%;
    max-height: 50px;
    object-fit: contain
  }
}

.title-line {
  @include text-clamp(1);
}

.btn {
  display: inline-block;
  font-size: 16px;
  padding: 11px 31px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 28px;
  transition: background-color 0.3s;
  line-height: 1.9;

  &:hover {
    background-color: #fff;
    color: $btn;
  }

  &:active {
    transform: scale(0.98);
  }

  &--sm {
    font-size: 14px;
    padding: 4px 18px;
    border-radius: 18px;
  }

  &--md {
    font-size: 15px;
    padding: 7px 31px;
    border-radius: 23px;
  }

  &--blue {
    background-color: $btn;
    border: 1px solid $btn;

    &:hover {
      background-color: $hover-blue;
      color: #fff;
    }

    &:active {
      box-shadow: 0px 0px 5px $btn;
    }
  }

  &--purple {
    background-color: $tag;
    border: 1px solid $tag;

    &:hover {
      background-color: $hover-purple;
      color: #fff;
    }

    &:active {
      box-shadow: 0px 0px 5px $tag-btn;
    }
  }
}
@media(max-width:576px) {
  .btn {
    font-size: 13px;
  }
 }

.title {
  font-size: 30px;
  color: #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.arrows {
  &__item {
    position: absolute;
    left: auto;
    top: 30px;
    width: 55px;
    height: 45px;
    transition: background-color 0.3s;

    &--left {
      right: 85px;
      border-radius: 23px 0 0 23px;
    }

    &--right {

      border-radius: 0 23px 23px 0;
      right: 30px;
    }

    &--right:after,
    &--left:after {
      font-family: 'Linearicons-Free';
      position: absolute;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      font-size: 14px;
      color: #fff;
    }

    &--right:after {
      content: "\e876";
    }

    &--left:after {
      content: "\e875";
    }

    &--blue {
      background-color: $btn;
      outline-color: $btn;

      &:hover {
        background-color: $hover-blue;
      }

      &:active {
        box-shadow: 0px 0px 5px $btn;
      }
    }

    &--purple {
      background-color: #7347c1;
      outline-color: $tag;

      &:hover {
        background-color: #613ba6;
      }

      &:active {
        box-shadow: 0px 0px 5px $tag-btn;
      }
    }
  }
}
@media(max-width:576px) {
  .arrows {
    &__item {
      display: none;
    }
  }
}

.social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: -13px;

  &__list {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 2px solid transparent;
    border-radius: 50%;

    &:hover {
      border: 2px solid $btn;
    }
  }

  &__link {
    display: block;
    width: 42px;
    height: 42px;
    transition: background-color 0.3s;
  }
}

.tag {
  display: inline-block;
  background-color: $tag-btn;
  font-size: 15px;
  color: #868c96;
  line-height: 1.2;
  vertical-align: middle;
  padding: 6px 14px;
  border-radius: 14px;
  border: 1px solid transparent;
  transition: background-color 0.3s;

  &:hover {
    background-color: #c4cad2;
  }

  &:active {
    border: 1px solid $btn;
  }
  &--md {
    padding: 6px 20px;
  }
}