$btn:#0674ec;
$text:#555555;
$hover-blue:#145fb0;
$tag:#7347c1;
$tag-btn:#f1f3f6;
$hover-purple:#613ba6;

@mixin text-clamp($lines) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
}