@import 'fonts';
@import 'vars';
@import 'global';

// header start 
.header {
  &__inner {
    background-color: #eef1f3;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 7px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 530px;
    width: 100%;
  }

  &__btn {
    padding: 4px 18px;
    font-size: 14px;
    border-radius: 18px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &__icons {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 120px;
    width: 100%;
    list-style: none;
    align-items: center;
  }

  &__icon {
    font-family: 'Linearicons-Free';
    color: #7e8fa1;
    font-size: 20px;
  }

  &__pagination {
    position: absolute;
    padding: 1px 7px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: #fff;
    top: -6px;
    line-height: 1.5;
    border-radius: 20px;

    &--red {
      background-color: #ff6a6c;
      padding: 1px 5px;
      left: 10px;
    }

    &--green {
      background-color: #62d03b;
      left: 63px;
    }

    &--blue {
      background-color: $btn;
      right: -16px;
    }
  }

  .menu {
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__list {
      display: flex;
      padding: 24px 0;
      list-style: none;
    }

    &__item+.menu__item {
      margin-left: 34px;
    }

    &__link {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 15px;
      color: #333333;
      transition: color 0.3s;

      &:hover {
        color: $btn;
      }
    }

    &__form-wrapper {
      position: relative;
      max-width: 360px;
      width: 100%;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  line-height: 1.5;

  &__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
  }

  &__balance {
    font-size: 15px;
    color: $btn;
  }
}

.form {
  &__input {
    display: block;
    width: 100%;
    padding: 13px 70px 13px 24px;
    font-size: 15px;
    color: #898f96;
    border-radius: 23px;
    border: 1px solid #d9dfe5;

    &:focus {
      border: 1px solid $btn;
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 70px;
    height: 45px;

    &::before {
      font-family: 'Linearicons-Free';
      content: "\e86f";
      font-size: 15px;
      color: #fff;
    }
  }
}

// header end 

// create start 
.create {
  position: relative;
  min-height: 725px;
  background-image: linear-gradient(to right, #2c4ed0 5%, #2145c9 37%, #1035bf 77%, #092fba 99%, #1745ed 100%, #2e5afb 100%, #1745ed 100%);

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1110px;
    width: 100%;
    min-height: 135px;
    background-color: #fff;
    border-radius: 6px;
    opacity: 0.5;
  }

  &::after {
    max-width: 1080px;
    width: 100%;
    bottom: -37px;
  }

  &__inner {
    padding-top: 170px; // Я не нашел другой способ..
    text-align: center;
    color: #f3f3f8;
  }

  &__title {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-shadow: 0 2px 2 rgba(0, 0, 0, 0.2);
  }

  &__subtitle {
    display: block;
    font-weight: 700;
  }

  &__text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 70px;
  }

  &__link {
    color: #fff;

    &+& {
      margin-left: 25px;
    }

    &:hover {
      box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &__search {
    position: absolute;
    bottom: -68px;
    z-index: 1;
  }

  &__form-inner {
    position: relative;
    display: flex;
    min-width: 1140px;
    padding: 39px;
    background-color: #fff;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 6px;
  }

  &__input {
    max-width: 612px;
    width: 100%;
    padding: 18px 25px;
    color: #676767;
    border: 1px solid #dcdcdc;
    border-radius: 6px 0 0 6px;
  }

  .create__select {
    border: 1px solid #dcdcdc;
    border-left: none;
    border-radius: 0 6px 6px 0;
    height: 56px;
    display: flex;
    align-items: center;
    width: 190px;
    position: relative;
    padding-left: 20px;
    outline: none;

    &::before {
      position: absolute;
      content: "\e874";
      right: 20px;
      top: 16px;
      font-family: 'Linearicons-Free';
      font-size: 12px;
      color: #676767;
    }
  }

  &__btn {
    margin-left: auto;
    margin-right: 0;
    padding: 19px 67px;
    border-radius: 4px;
    color: #fff;

    &:hover {
      background: #145fb0;
    }
  }

  &__option {
    color: $text;
    border: 1px solid #dcdcdc;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0;
    color: $text;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
  }

  .select2-container--open {
    border-left: 1px solid #dcdcdc;
    width: 191px !important;
    left: -1px;
  }

}

// create end 

// advantages start 
.advantages {
  padding: 200px 0 110px;

  &__inner {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__item {
    padding: 25px 30px 50px;
    max-width: 360px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.08);
    }
  }

  &__img {
    display: block;
    min-height: 120px;
    max-width: 120px;
    width: 100%;
    margin: 0 auto 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    font-size: 24px;
    color: #010101;
    margin-bottom: 10px;
  }
}

// advantages end 

// resume start 
.resume {
  background-color: #eff1f5;
  padding: 120px 0;

  &__title {
    background-color: #fff;
    position: relative;
    padding: 25px 30px;
    margin-bottom: 50px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(108, 111, 115, 0.1);
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-family: 'Linearicons-Free';
    font-size: 14px;
    color: #fff;
  }

  .swiper-button-next:after {
    content: "\e876";
  }

  .swiper-button-prev:after {
    content: "\e875";
  }

  .swiper-button-prev,
  .swiper-button-next {
    left: auto;
    background: #7347c1;
    top: 54px;
    width: 55px;
    height: 45px;
    transition: all .3s;

    &:hover {
      background: #613ba6;
    }
  }

  .swiper-button-prev {
    right: 85px;
    border-radius: 23px 0 0 23px;
  }

  .swiper-button-next {
    border-radius: 0 23px 23px 0;
    right: 30px;
  }

}

.product-card {
  display: flex;
  background: #fff;
  min-height: 450px;
  border-radius: 4px;
  box-shadow: 0 2px 30px 0 rgba(147, 155, 168, 0.1);

  &:hover {
    .product-card__link-wrap {
      opacity: 1;
      border-radius: 4px 0 0 4px;
    }
  }

  &__img-wrap {
    position: relative;
    max-width: 555px;
    width: 100%;
    margin: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px 0 0 4px;
  }

  &__link-wrap {
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-90deg, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
    transition: all 0.3s;
  }

  &__link {
    font-size: 15px;
    font-weight: 500;

    &+& {
      margin-left: 10px;
    }

    color: #fff;
  }

  &__content {
    max-width: 590px;
    padding: 35px 50px 26px 50px;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    color: #000;
    margin-bottom: 5px;
  }

  &__user {
    margin-right: 20px;

    .user__img {
      width: 30px;
      height: 30px;
      margin-right: 9px;
    }

    .user__name {
      font-size: 15px;
      font-weight: 400;
      color: #000;
    }
  }

  &__user-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
  }

  &__category {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    color: $tag;
  }

  &__category-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  &__text {
    color: $text;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    list-style: none;

    li+li {
      margin-left: 7px;
    }
  }

  &__tag {
    font-size: 15px;
    color: #868c96;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    border-top: 1px solid #ececec;
  }

  &__btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 240px;
    width: 100%;
  }

  &__box-link {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    padding: 7px 19px;
    color: #fff;
    border-radius: 16px;
  }

  &__btn {
    position: relative;
    font-size: 15px;
    background: transparent;

    &::before {
      position: absolute;
      left: 0;
      font-family: 'Linearicons-Free';
      font-size: 15px;
    }

    &--like {
      padding-left: 20px;

      &::before {
        content: "\e813";
        color: $tag;
      }
    }

    &--basket {
      color: $btn;
      padding-left: 25px;

      &::before {
        content: "\e82e";
        color: $btn;
      }
    }

    &--buy {
      background-color: $btn;
      font-weight: 500;
      color: #fff;
      padding: 7px 16px;
      border-radius: 16px;
      transition: background-color 0.3s;

      &:hover {
        background-color: $hover-blue;
      }
    }
  }

  .product-card__star {
    font-size: 17px;
    color: #ffc000;
    width: 100%;
    margin-top: 5px;
  }
}

// resume end 

// products start 

.products {
  background-color: #f6f7fb;
  padding: 120px 0;

  &__title {
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px 30px;
    box-shadow: 0 2px 4px 0 rgba(108, 111, 115, 0.1);
    border-radius: 4px;
  }

  &__filter {
    display: inline-flex;
    font-size: 16px;
    color: #747b86;

    &:hover {
      .products__trending {
        height: auto;
        overflow: visible;
        opacity: 1;
      }
    }
  }

  &__filter-btn {
    background-color: transparent;
    margin-left: 25px;

  }

  &__filter-img {
    display: block;
    width: 5px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__trending {
    background-color: #fff;
    position: absolute;
    right: 7px;
    top: 90px;
    z-index: 1;
    max-width: 185px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 5px 40px 0 rgba(82, 85, 90, 0.2);
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;
  }

  &__trending-img {
    position: absolute;
    top: -34px;
    right: -3px;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__trending-item {
    font-size: 15px;
    color: #747b86;
    line-height: 28px;
    padding-left: 30px;
    list-style: none;
    transition: color 0.3s;

    &:hover {
      color: $btn;
    }

    &:nth-child(2) {
      padding-top: 20px;
    }

    &:nth-child(6) {
      padding-bottom: 20px;
    }
  }

  &__btn-box {
    display: flex;
    background-color: #fff;
    margin-bottom: 55px;
    padding: 30px;
    list-style: none;
    box-shadow: 0 1px 2px 0 rgba(90, 93, 100, 0.1);
    border-radius: 4px;
  }

  &__btn-item {
    &+& {
      margin-left: 10px;
    }
  }

  &__btn {
    font-size: 15px;
    color: #747b86;
    padding: 8px 21px;
    border-radius: 16px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #c4cad2;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 35px;
    column-gap: 30px;
  }

  &__item {
    display: block;
    max-width: 360px;
    width: 100%;
    overflow: hidden;

    .product-card__img-wrap {
      max-height: 230px;
    }

    .product-card__img {
      border-radius: 4px 4px 0 0;
      min-height: 230px;
    }

    .product-card__content-inner {
      padding: 21px 31px 0 31px;
    }

    .product-card__content {
      padding: 0;
    }

    .product-card__title {
      font-size: 20px;
    }

    .product-card__box {
      justify-content: normal;
      padding: 10px 31px;
    }

    .product-card__btn-wrap {
      justify-content: normal;
      max-width: 150px;
      width: 100%;

    }

    .product-card__box-link {
      background-color: #e6f1fd;
      color: $btn;
      margin-right: 15px;
      padding: 6px 14px;
      border-radius: 15px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #d4e8fd;
      }
    }

    .product-card__btn {
      color: #6f7d8d;
      padding-left: 20px;
    }

    .product-card__btn--basket {
      margin-left: auto;
      margin-right: 0;
    }

    .product-card__star {
      font-size: 15px;
      margin-top: 6px;
    }
  }

  &__all-wrap {
    text-align: center;
    padding-top: 60px;
  }

  &__all {
    color: #fff;
    padding: 18px 33px;
    border-radius: 28px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  }

  .mixitup-control-active {
    background-color: $btn;
    color: #fff;
  }
}

// products end 