.followers {
    background-color: #eff1f5;
    padding: 120px 0;

    &__title {
        background-color: #fff;
        position: relative;
        padding: 25px 30px;
        margin-bottom: 55px;
        box-shadow: 0 2px 4px 0 rgba(108, 111, 115, 0.1);
        border-radius: 4px;
    }

    &__items {
        list-style: none;
    }

}

@media(max-width:576px) {
    .followers {
        padding: 30px 0;

        &__title {
            font-size: 25px;
            padding: 15px 30px;
            margin-bottom: 30px;
        }

        &__item {
            margin: 0 auto;
        }

        .product-card {
            &__star {
                margin: 0 auto;
            }
        }
    }
}

@media(max-width:320px) {
    .followers {
        &__title {
            font-size: 20px;
            padding: 25px 15px;
        }
        &__item {
            .product-card {
                &__content-inner {
                    padding: 20px 15px 0;
                }
            }
        }
    }
}