.followers {
    background-color: #eff1f5;
    padding: 120px 0;

    @include r($r-sm) {
        padding: 30px 0 20px;
    }

    &__title {
        background-color: #fff;
        position: relative;
        padding: 25px 30px;
        margin-bottom: 55px;
        box-shadow: 0 2px 4px 0 rgba(108, 111, 115, 0.1);
        border-radius: 4px;

        @include r($r-sm) {
            font-size: 20px;
            padding: 25px 15px;
            margin-bottom: 30px;
        }
    }

    &__items {
        list-style: none;
    }

    &__item {
        @include r($r-sm) {
            margin: 0 auto;
        }
    }

    .product-card {
        &__star {
            @include r($r-sm) {
                margin: 0 auto;
            }
        }

        &__content-inner {
            @include r($r-sm) {
                padding: 20px 15px 0;
            }
        }
    }
}