.guarantee {
    text-align: center;

    @include r($r-sm) {
        padding: 30px 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @include r($r-sm) {
            flex-direction: column;
        }
    }

    &__item {
        text-align: center;
        max-width: 50%;
        width: 100%;
        padding: 55px 15px;

        @include r($r-sm) {
            padding: 0;
            max-width: 100%;
        }

        &+& {
            border-left: 1px solid #e8eaf3;

            @include r($r-sm) {
                border: none;
                margin-top: 25px;
            }
        }
    }

    &__img {
        display: inline-block;
        width: 155px;
        height: 120px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 20px;

        @include r($r-sm) {
            margin-bottom: 0;
        }
    }

    &__text {
        font-size: 24px;
        color: #000;

        @include r($r-sm) {
            font-size: 20px;
        }
    }

    &__text-name {
        color: $btn;
    }
}