.news {
    background-color: #eff1f5;
    padding: 110px 0;
    text-align: center;

    @include r($r-sm) {
        padding: 30px 0 20px 0;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include r($r-xl) {
            justify-content: center;
        }
    }

    &__item {
        @include r($r-xl) {
            margin: 10px;
        }

        @include r($r-sm) {
            margin: 0 0 10px 0;
        }

        .product-card {
            &__box {
                justify-content: space-between;

                @include r($r-sm) {
                    padding: 10px 0;
                }
            }

            &__content-inner {
                @include r($r-sm) {
                    padding: 15px 15px 0;
                }
            }

            &__title {
                @include r($r-sm) {
                    margin-bottom: 0;
                }
            }

            &__text {
                @include r($r-sm) {
                    font-size: 15px;
                    margin-bottom: 10px;
                }
            }

            &__img-wrap {
                @include r($r-sm) {
                    height: 190px;
                }
            }

            &__img {
                @include r($r-sm) {
                    height: 190px;
                }
            }

        }
    }

    &__title {
        font-size: 36px;

        @include r($r-sm) {
            font-size: 20px;
        }
    }

    &__title-name {
        color: $btn;
    }

    &__text {
        max-width: 680px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 60px;

        @include r($r-sm) {
            font-size: 14px;
            margin-bottom: 15px;
        }
    }

    &__icon {
        padding-left: 20px;
        position: relative;

        @include r($r-sm) {
            font-size: 15px;
            padding-left: 0;
        }

        &::after {
            position: absolute;
            font-family: 'Linearicons-Free';
            left: 0;

            @include r($r-sm) {
                left: 0;
                right: 0;
                margin: 0 auto;
                margin-right: 55px;
            }
        }

        &--date {
            &::after {
                content: "\e864";
                color: $btn;

                @include r($r-sm) {
                    margin-right: 120px;
                }
            }
        }

        &--link {
            color: $text;
            transition: color 0.3s;

            &:hover {
                color: $btn;

                &::after {
                    color: $btn;
                }
            }

            &::after {
                content: "\e83f";
            }
        }

        &--views {
            background-color: #fff;
            margin-left: 30px;
            color: $text;

            @include r($r-sm) {
                margin-left: 0;
            }

            &::after {
                content: "\e81b";
            }
        }

    }

    &__icon-wrap {
        padding-left: 35px;
        border-left: 1px solid #ececec;

        @include r($r-sm) {
            padding-left: 0;
            display: flex;
            flex-direction: column;
            border: none;
        }
    }
}