.products {
  background-color: #f6f7fb;
  padding: 120px 0;

  &__title {
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 25px 30px;
    box-shadow: 0 2px 4px 0 rgba(108, 111, 115, 0.1);
    border-radius: 4px;
  }

  &__filter {
    display: inline-flex;
    font-size: 16px;
    color: #747b86;

    &:hover {
      .products__trending {
        height: auto;
        overflow: visible;
        opacity: 1;
      }
    }
  }

  &__filter-btn {
    background-color: transparent;
    margin-left: 25px;

  }

  &__filter-img {
    display: block;
    width: 5px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__trending {
    background-color: #fff;
    position: absolute;
    right: 7px;
    top: 90px;
    z-index: 1;
    max-width: 185px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 5px 40px 0 rgba(82, 85, 90, 0.2);
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;
  }

  &__trending-img {
    position: absolute;
    top: -34px;
    right: -3px;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__trending-item {
    font-size: 15px;
    color: #747b86;
    line-height: 28px;
    padding-left: 30px;
    list-style: none;
    transition: color 0.3s;

    &:hover {
      color: $btn;
    }

    &:nth-child(2) {
      padding-top: 20px;
    }

    &:nth-child(6) {
      padding-bottom: 20px;
    }
  }

  &__btn-box {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin-bottom: 45px;
    padding: 30px 30px 30px 20px;
    list-style: none;
    box-shadow: 0 1px 2px 0 rgba(90, 93, 100, 0.1);
    border-radius: 4px;
  }

  &__btn-item {
    margin: 0 0 10px 10px;
  }

  &__btn {
    font-size: 15px;
    color: #747b86;
    padding: 5px 21px;
    border-radius: 16px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #c4cad2;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 35px;
    column-gap: 30px;
  }

  &__all-wrap {
    text-align: center;
    padding-top: 60px;
  }

  &__all {
    color: #fff;
    padding: 18px 33px;
    border-radius: 28px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  }

  .mixitup-control-active {
    background-color: $btn;
    color: #fff;
  }
}