.products {
  background-color: #f6f7fb;
  padding: 120px 0;

  @include r($r-sm) {
    padding: 30px 0;
  }

  &__title {
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 25px 30px;
    box-shadow: 0 2px 4px 0 rgba(108, 111, 115, 0.1);
    border-radius: 4px;

    @include r($r-sm) {
      font-size: 20px;
      flex-direction: column;
      padding: 25px 15px;
    }
  }

  &__filter {
    display: inline-flex;
    font-size: 16px;
    color: #747b86;

    &:hover {
      .products__trending {
        height: auto;
        overflow: visible;
        opacity: 1;
      }
    }
  }

  &__filter-btn {
    position: relative;
    background-color: transparent;
    margin-left: 15px;

    &::after {
      content: '';
      position: absolute;
      top: 5px;
      left: 10px;
      width: 5px;
      height: 20px;
      background-image: url(../images/icons/filter.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &__trending {
    background-color: #fff;
    position: absolute;
    right: 7px;
    top: 90px;
    z-index: 1;
    max-width: 185px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 5px 40px 0 rgba(82, 85, 90, 0.2);
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;

    @include r($r-sm) {
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 117px;
    }

    &::after {
      content: '';
      background-image: url(../images/icons/product-down.png);
      position: absolute;
      top: -34px;
      right: -3px;
      width: 70px;
      height: 70px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @include r($r-sm) {
        display: none;
      }
    }
  }

  &__trending-item {
    list-style: none;

    &:nth-child(1) {
      margin-top: 20px;
    }

    &:nth-child(5) {
      margin-bottom: 20px;
    }
  }

  &__trending-btn {
    width: 100%;
    color: #747b86;
    font-size: 15px;
    text-align: left;
    line-height: 28px;
    padding-left: 30px;
    background-color: transparent;
    transition: color 0.3s;

    &:hover {
      color: $btn;
    }
  }

  &__btn-box {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin-bottom: 50px;
    padding: 32px 30px 22px 20px;
    list-style: none;
    box-shadow: 0 1px 2px 0 rgba(90, 93, 100, 0.1);
    border-radius: 4px;

    @include r($r-sm) {
      margin-bottom: 15px;
    }
  }

  &__btn-item {
    margin: 0 0 10px 10px;
  }

  &__btn {
    @include r($r-sm) {
      font-size: 14px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    column-gap: 30px;
    row-gap: 35px;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;

    @include r($r-xl) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

    @include r($r-md) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__all-wrap {
    text-align: center;
    padding-top: 65px;

    @include r($r-sm) {
      padding-top: 20px;
    }
  }

  &__all {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  }

  .mixitup-control-active {
    background-color: $btn;
    color: #fff;
  }

  .product-card {
    &__star {
      @include r($r-sm) {
        margin: 0 auto;
      }
    }
  }
}