.resume {
  background-color: #eff1f5;
  padding: 120px 0;

  @include r($r-sm) {
    padding: 30px 0 20px;
  }

  &__title {
    background-color: #fff;
    position: relative;
    padding: 25px 30px;
    margin-bottom: 55px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(108, 111, 115, 0.1);

    @include r($r-sm) {
      font-size: 20px;
      padding: 15px 15px;
      margin-bottom: 30px;
    }
  }

  &__items {
    list-style: none;
  }

  &__product {
    max-width: 100%;
    display: flex;

    @include r($r-xl) {
      flex-direction: column;
      max-width: 360px;
      margin: 0 auto;
    }

    &:hover {
      .product-card__link-wrap {
        border-radius: 4px 0 0 4px;
      }
    }

    .product-card {
      &__img-wrap {
        min-width: 555px;
        width: 100%;
        margin-right: 50px;
        height: 450px;

        @include r($r-xl) {
          min-width: 100%;
          height: 230px;
        }

        @include r($r-sm) {
          height: 230px;
        }
      }

      &__img {
        max-width: 555px;
        width: 100%;
        height: 450px;
        border-radius: 4px 0 0 4px;

        @include r($r-xl) {
          border-radius: 4px 4px 0 0;
          max-width: 100%;
          height: 230px;
        }
      }

      &__content-wrap {
        width: 100%;
        padding: 35px 50px 0 0;

        @include r($r-xl) {
          width: auto;
          padding: 20px;
        }
      }

      &__title {
        font-size: 24px;
        margin-bottom: 10px;
      }

      &__user-wrap {
        margin-bottom: 25px;

        @include r($r-sm) {
          margin-bottom: 15px;
        }
      }

      &__text {
        @include text-clamp(4);

        @include r($r-sm) {
          font-size: 15px;
          margin-bottom: 15px;
        }
      }

      &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-bottom: 35px;

        @include r($r-sm) {
          margin-bottom: 15px;
        }
      }

      &__link-wrap {
        @include r($r-sm) {
          flex-direction: column;
          height: 230px;
        }
      }

      &__link {
        @include r($r-xl) {
          padding: 10px 40px;
        }

        @include r($r-sm) {
          margin-left: 0;
          margin-bottom: 10px;
          width: 100px;
          text-align: center;
        }
      }

      &__item {
        margin-left: 10px;
        margin-bottom: 10px;
      }

      &__box {
        padding: 20px 0 0 0;

        @include r($r-sm) {
          flex-wrap: wrap;
        }
      }

      &__btn-wrap {
        max-width: 250px;
        width: 100%;
        align-items: center;
      }

      &__price {
        background-color: $btn;
        color: #fff;
      }

      &__star {
        margin-left: auto;
        margin-right: 0;

        @include r($r-sm) {
          font-size: 14px;
          margin: 0 auto;
          text-align: center;
        }
      }

      &__box-link {
        background-color: $btn;
        color: #fff;
      }
    }
  }

  .product-card__star {
    font-size: 17px;
    color: #ffc000;
    width: 100%;
  }
}