.statistics {
    background-color: #212225;
    padding: 80px 0 90px 0;

    &__item-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style: none;
        text-align: center;
    }

    &__item {
        padding: 0 20px;
        line-height: 1.7;
        &--yellow {
            color: #feb71d;
        }

        &--light-blue {
            color: #58c9e9;
        }

        &--green {
            color: #77de51;
        }

        &--red {
            color: #ff6a6d;
        }
    }

    &__img {
        display: inline-block;
        font-family: 'Linearicons-Free';
        font-size: 48px;
        margin-bottom: 5px;
    }

    &__number {
        display: block;
        font-size: 36px;
      }

    &__text {
        color: #fff;
        font-size: 18px;
    }
}
@media(max-width:576px) {
    .statistics {
        padding: 30px 0;
        &__item-wrap {
            justify-content: center;
        }
        &__img {
            font-size: 40px;
            margin-bottom: 0;
        }
        &__number {
            font-size: 25px;
        }
        &__text {
            font-size: 16px;
        }
    }
}
