.footer {
    background-color: #262b30;
    padding-top: 120px;
    color: #ababab;

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 110px;
    }

    .logo {
        display: flex;
        line-height: 0;
        margin-bottom: 20px;
        max-width: 163px;

    }

    &__info {
        max-width: 265px;
        width: 100%;
    }

    &__text {
        font-size: 15px;
        margin-bottom: 25px;
        @include text-clamp(3);
    }

    &__address {
        font-style: normal;
    }

    &__icon {
        position: relative;
        display: inline-block;
        padding-left: 30px;
        color: #ababab;
        transition: color 0.3s;

        &::after {
            font-family: 'Linearicons-Free';
            position: absolute;
            left: 0;
            top: 0;
            color: #fff;
        }

        &:hover {
            color: #fff;
        }

        &--phone {
            &::after {
                content: '\e830';
            }
        }

        &--email {
            &::after {
                content: '\e818';
            }
        }

        &--location {
            &::after {
                content: '\e833';
            }
        }
    }

    &__item {
        max-width: 145px;
        width: 100%;
        list-style: none;
    }

    &__link {
        color: #ababab;
        transition: color 0.3s;
        line-height: 0.8;

        &:hover {
            color: #fff;
        }

        &--title {
            display: inline-block;
            padding-bottom: 40px;
            font-size: 18px;
            color: #fff;
        }
    }

    &__title {
        margin-bottom: 30px;
        font-size: 18px;
        color: #fff;
    }

    &__newsletter {
        max-width: 360px;
        width: 100%;
    }

    &__form {
        position: relative;
        margin-bottom: 46px;

        .form__btn {
            text-align: center;
            color: #fff;
            max-width: 100%;

            &::before {
                display: none;
            }
        }
    }

    &__copy {
        background-color: #192027;
        text-align: center;
        font-size: 15px;
        padding: 33px 15px;
    }

    &__text-opacity {
        color: #fff;
    }
}

@media(max-width:1200px) {
    .footer {
        .logo {
            margin: 0 auto 20px;
        }

        &__inner {
            justify-content: center;
        }

        &__info {
            margin-bottom: 20px;
        }

        &__item {
            margin: 0 60px 20px;
        }

        &__title {
            text-align: center;
        }
    }
}

@media(max-width:576px) {
    .footer {
        padding: 30px 0 0;

        &__inner {
            padding-bottom: 20px;
        }

        &__item {
            margin: 20px 30px;
        }
    }
}

@media(max-width:320px) {
    .footer {
        .logo {
            margin-bottom: 10px;
        }

        &__text {
            font-size: 14px;
            margin-bottom: 10px;
        }

        &__title {
            margin-bottom: 0;
        }

        &__info {
            margin-bottom: 0;
        }

        &__item {
            margin: 10px 30px;
        }

        &__address {
            font-size: 14px;
        }

        &__link {
            font-size: 15px;

            &--title {
                padding-bottom: 10px;
                font-size: 18px;
            }
        }

        &__form {
            margin-bottom: 15px;
        }
    }
}