
.form {
    &__input {
      display: block;
      width: 100%;
      padding: 13px 70px 13px 24px;
      font-size: 15px;
      color: #898f96;
      border-radius: 23px;
      border: 1px solid #d9dfe5;
      outline: transparent;
  
      &:focus {
        border: 1px solid $btn;
      }
    }
  
    &__btn {
      position: absolute;
      right: 0;
      top: 0;
      max-width: 70px;
      height: 45px;
      line-height: 1;
  
      &::before {
        font-family: 'Linearicons-Free';
        content: "\e86f";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        margin-left: 3px;
      }
    }
  }