.header {
  &__inner {
    background-color: #eef1f3;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  &__box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 530px;
    width: 100%;
  }

  &__btn {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    max-width: 120px;
    width: 100%;
    list-style: none;
    align-items: center;
  }

  &__icon {
    margin-left: auto;
    margin-right: 0;
    position: relative;
    font-family: 'Linearicons-Free';
    color: #7e8fa1;
    font-size: 20px;
  }

  &__icon-wrap {
    padding-bottom: 30px;
    margin-bottom: -30px;

    &:hover {

      .dropdowns--notifications,
      .dropdowns--messages,
      .dropdowns--products {
        height: auto;
        overflow: visible;
        border-top: 1px solid $btn;
      }

      .dropdowns--notifications {
        padding: 25px 25px 0;
      }

      .dropdowns--messages,
      .dropdowns--products {
        padding-top: 25px;
      }
    }
  }

  &__pagination {
    position: absolute;
    padding: 1px 7px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: #fff;
    top: -16px;
    line-height: 1.5;
    border-radius: 20px;

    &--red {
      background-color: #ff6a6c;
      padding: 1px 5px;
      left: 7px;
    }

    &--green {
      background-color: #62d03b;
      left: 11px;
    }

    &--blue {
      background-color: $btn;
      right: -17px;
    }
  }

  &__user {
    padding-bottom: 25px;
    margin-bottom: -25px;

    &:hover {
      .dropdowns--user {
        height: auto;
        padding: 20px;
        overflow: visible;
        border-top: 1px solid $btn;
      }
    }
  }

  .menu {
    &__burger {
      display: none;
      position: absolute;
      top: -71px;
      left: 15px;
      z-index: 1;
      max-width: 40px;
      width: 100%;
      cursor: pointer;
      margin-top: 10px;
      border: 2px solid $btn;
      border-radius: 8px;
      padding: 9px;

      &:active {
        box-shadow: 0px 0px 5px $btn;
      }
    }

    &__line {
      display: block;
      max-width: 30px;
      height: 4px;
      background-color: $btn;
      margin: 0 auto;
      margin-bottom: 5px;

      &:last-child {
        margin: 0 auto;
      }
    }

    .container {
      position: relative;
    }

    &__inner {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__list {
      display: flex;
      padding: 24px 0;
      list-style: none;
    }

    &__item {
      padding-bottom: 25px;
      margin-bottom: -25px;

      &:hover {
        .dropdowns--list {
          height: auto;
          padding: 20px;
          overflow: visible;
          border-top: 1px solid $btn;
        }
      }
    }

    &__item+.menu__item {
      margin-left: 34px;
    }

    &__link {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 15px;
      color: #333333;
      transition: color 0.3s;

      &:hover {
        color: $btn;
      }
    }

    &__form-wrapper {
      position: relative;
      max-width: 360px;
      width: 100%;
    }
  }
}

@media(max-width:992px) {
  .menu__inner {
    flex-direction: column;
  }

  .header {
    .dropdowns {
      &__box {
        &--smoll {
          max-width: 150px;
        }
      }

      &__title {
        font-size: 15px;
        padding: 0;
      }

      &__link {
        font-size: 13px;
      }

      &--list {
        top: 63%;
        left: 70px;
      }

      &--pages {
        left: 0;
        flex-wrap: wrap;
        justify-content: center;

        .dropdowns__title {
          text-align: center;
        }

        .dropdowns__list--column {
          column-gap: 10px;
        }
      }

      &--user {
        top: 80px;
      }
    }
  }

  .menu {
    &__form {
      margin-bottom: 10px;
    }
  }

}

@media(max-width:768px) {
  .header {
    .logo__img {
      max-width: 170px;
    }

    &__btn {
      display: none;
    }

    &__box {
      max-width: 370px;
    }

    .dropdowns {
      &--notifications {
        transform: translate(-6%);
      }

      &--messages {
        transform: translate(-14%);

        &::before {
          left: 100px;
        }
      }

      &--products {
        transform: translate(-32%);

        &::before {
          left: 220px;
        }
      }

      &--list {
        left: 10px;
      }

      &--user {
        transform: translate(20%);
      }
    }
  }
}

@media(max-width:576px) {
  .header {
    .logo {
      padding-left: 15px;
      position: absolute;

      &__img {
        max-width: 130px;
      }
    }

    &__user {
      margin-bottom: 15px;
      padding: 0;
      margin-right: 0;
      margin-left: auto;
    }

    &__box {
      flex-direction: column-reverse;
      max-width: 100%;
      padding-right: 15px;
    }

    &__icons {
      max-width: 250px;
      margin-right: 0;
      margin-left: auto;

      .lnr-alarm {
        color: #ff6a6c;
      }

      .lnr-envelope {
        color: #62d03b;
      }

      .lnr-cart {
        color: $btn;
      }
    }

    &__icon {
      border: 2px solid $btn;
      padding: 10px 25px;
      border-radius: 8px;
      margin-right: 10px;
    }

    &__pagination {
      display: none;
    }

    .user__img {
      margin-right: 10px;
    }

    .dropdowns {
      max-width: 100%;
      left: 0;
      transform: translate(0);
      top: 121px;

      &::before {
        display: none;
      }

      &--list {
        position: relative;
        top: 0;
      }

      &--user {
        position: absolute;
        top: 121px;
      }
    }

    .container {
      padding: 0;
      position: relative;
    }

    .menu {
      &__burger {
        display: block;
        margin-left: auto;
        margin-right: 0;
      }

      &__inner {
        display: none;
      }

      &__list {
        flex-direction: column;
        width: 100%;
      }

      &__item {
        text-align: center;
        line-height: 3;
        position: relative;

        &+.menu__item {
          margin-left: 0;
        }
      }

      &__form-wrapper {
        margin: 0 auto;
      }

      &__form {
        padding: 0 15px;

        .form__btn {
          right: 15px;
        }
      }
    }
  }
}

@media(max-width: 320px) {
  .header {
    .logo__img {
      max-width: 130px;
    }

    &__icon-wrap:hover .dropdowns--notifications {
      padding: 25px 15px 0;
    }

    &__user {
      .user__img {
        width: 40px;
        height: 40px;
      }

      .user__name {
        font-size: 15px;
      }

      .user__balance {
        font-size: 14px;
      }
    }

    &__icons {
      max-width: 210px;
    }

    &__icon {
      padding: 10px 20px;
    }

    .dropdowns {
      top: 115px;

      &--list {
        top: 0;

        .dropdowns__link {
          font-size: 14px;
        }
      }

      &--user {
        top: 115px;
      }

      &--pages {
        .dropdowns__title {
          padding-bottom: 0px;
        }

        .dropdowns__list--column {
          column-count: 1;
        }
      }

      &--notifications {
        .dropdowns__item {
          &::after {
            display: none;
          }

          &::before {
            display: none;
          }
        }

      }

      &--messages {
        .dropdowns__title {
          padding: 0 15px;
        }

        .dropdowns__user {
          padding: 20px 15px;
        }
      }

      &--products {
        .dropdowns__title {
          font-size: 14px;
        }

        .dropdowns__tag {
          font-size: 13px;
          display: flex;
          align-items: center;
        }

        .dropdowns__icon {
          margin-right: 5px;
        }

        .dropdowns__price {
          font-size: 14px;
        }

        .dropdowns__item {
          padding: 0 15px 25px;
        }

        .dropdowns__cost {
          padding: 15px;
        }
      }
    }
  }
}