.header {
  .container {
    @include r($r-sm) {
      padding: 0;
      position: relative;
    }
  }

  .logo {
    @include r($r-sm) {
      padding-left: 15px;
      position: absolute;
    }

    &__img {
      @include r($r-md) {
        max-width: 170px;
      }

      @include r($r-sm) {
        max-width: 130px;
      }
    }
  }

  &__inner {
    background-color: #eef1f3;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  &__box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 530px;
    width: 100%;

    @include r($r-md) {
      max-width: 370px;
    }

    @include r($r-sm) {
      flex-direction: column-reverse;
      max-width: 100%;
      padding-right: 15px;
    }
  }

  &__btn {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);

    @include r($r-md) {
      display: none;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    max-width: 120px;
    width: 100%;
    list-style: none;
    align-items: center;

    @include r($r-sm) {
      max-width: 210px;
      margin-right: 0;
      margin-left: auto;

      .lnr-alarm {
        color: #ff6a6c;
      }

      .lnr-envelope {
        color: #62d03b;
      }

      .lnr-cart {
        color: $btn;
      }
    }
  }

  &__icon {
    margin-left: auto;
    margin-right: 0;
    position: relative;
    font-family: 'Linearicons-Free';
    color: #7e8fa1;
    font-size: 20px;

    @include r($r-sm) {
      border: 2px solid $btn;
      padding: 10px 20px;
      border-radius: 8px;
      margin-right: 10px;
    }
  }

  &__icon-wrap {
    padding-bottom: 30px;
    margin-bottom: -30px;

    &:hover {

      .dropdowns--notifications,
      .dropdowns--messages,
      .dropdowns--products {
        height: auto;
        overflow: visible;
        border-top: 1px solid $btn;
      }

      .dropdowns--notifications {
        padding: 25px 25px 0;

        @include r($r-sm) {
          padding: 25px 15px 0;
        }
      }

      .dropdowns--messages,
      .dropdowns--products {
        padding-top: 25px;
      }
    }
  }

  &__pagination {
    position: absolute;
    padding: 1px 7px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: #fff;
    top: -16px;
    line-height: 1.5;
    border-radius: 20px;

    @include r($r-sm) {
      display: none;
    }

    &--red {
      background-color: #ff6a6c;
      padding: 1px 5px;
      left: 7px;
    }

    &--green {
      background-color: #62d03b;
      left: 11px;
    }

    &--blue {
      background-color: $btn;
      right: -17px;
    }
  }

  &__user {
    padding-bottom: 25px;
    margin-bottom: -25px;

    @include r($r-sm) {
      margin-bottom: 15px;
      padding: 0;
      margin-right: 0;
      margin-left: auto;
    }

    .user__img {
      @include r($r-sm) {
        width: 45px;
        height: 45px;
        margin-right: 10px;
      }
    }

    .user__name {
      @include r($r-sm) {
        font-size: 15px;
      }
    }

    .user__balance {
      @include r($r-sm) {
        font-size: 14px;
      }
    }

    &:hover {
      .dropdowns--user {
        height: auto;
        padding: 20px;
        overflow: visible;
        border-top: 1px solid $btn;
      }
    }
  }

  .dropdowns {
    @include r($r-md) {
      top: 70px;
    }

    @include r($r-sm) {
      max-width: 100%;
      top: 115px;
    }


    &__box {
      &--smoll {
        @include r($r-lg) {
          max-width: 150px;
        }
      }
    }

    &__title {
      @include r($r-lg) {
        font-size: 15px;
        padding: 0;
      }
    }

    &__link {
      @include r($r-lg) {
        font-size: 13px;
      }
    }

    &--notifications {
      @include r($r-md) {
        transform: translate(-6%);
      }

      @include r($r-sm) {
        transform: translate(0);
      }

      .dropdowns__item {
        &::after {
          @include r($r-sm) {
            display: none;
          }
        }

        &::before {
          @include r($r-sm) {
            display: none;
          }
        }
      }
    }

    &--messages {
      @include r($r-md) {
        transform: translate(-14%);
      }

      @include r($r-sm) {
        transform: translate(0);
      }

      .dropdowns__title {
        @include r($r-sm) {
          padding: 0 15px;
        }
      }

      .dropdowns__user {
        @include r($r-sm) {
          padding: 20px 15px;
        }
      }

      &::before {
        @include r($r-md) {
          left: 100px;
        }
      }
    }

    &--products {
      @include r($r-md) {
        transform: translate(-32%);
      }

      @include r($r-sm) {
        transform: translate(0);
      }

      .dropdowns__title {
        @include r($r-sm) {
          font-size: 14px;
        }
      }

      .dropdowns__tag {
        @include r($r-sm) {
          font-size: 13px;
          display: flex;
          align-items: center;
        }
      }

      .dropdowns__icon {
        @include r($r-sm) {
          margin-right: 5px;
        }
      }

      .dropdowns__price {
        @include r($r-sm) {
          font-size: 14px;
        }
      }

      .dropdowns__item {
        @include r($r-sm) {
          padding: 0 15px 25px;
        }
      }

      .dropdowns__cost {
        @include r($r-sm) {
          padding: 15px;
        }
      }

      &::before {
        @include r($r-md) {
          left: 220px;
        }
      }
    }

    &--list {
      @include r($r-lg) {
        top: 55%;
        left: 110px;
      }

      @include r($r-md) {
        left: 10px;
      }

      @include r($r-sm) {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
      }

      .dropdowns__link {
        @include r($r-sm) {
          font-size: 14px;
        }
      }
    }

    &--pages {
      @include r($r-lg) {
        left: 0;
        flex-wrap: wrap;
        justify-content: center;
      }

      .dropdowns__title {
        @include r($r-lg) {
          text-align: center;
        }

        @include r($r-sm) {
          padding-bottom: 0px;
        }
      }

      .dropdowns__list--column {
        @include r($r-lg) {
          column-gap: 10px;
        }

        @include r($r-sm) {
          column-count: 1;
        }
      }
    }

    &--user {
      @include r($r-lg) {
        top: 80px;
        transform: translate(55%);
      }

      @include r($r-md) {
        top: 70px;
        transform: translate(35%);
      }

      @include r($r-sm) {
        position: absolute;
        top: 115px;
        left: 0;
        transform: translate(0);
      }
    }

    &::before {
      @include r($r-sm) {
        display: none;
      }
    }
  }

  .menu {
    &__burger {
      display: none;
      position: absolute;
      top: -71px;
      left: 15px;
      z-index: 1;
      max-width: 40px;
      width: 100%;
      cursor: pointer;
      margin-top: 10px;
      border: 2px solid $btn;
      border-radius: 8px;
      padding: 9px;

      @include r($r-sm) {
        display: block;
        margin-left: auto;
        margin-right: 0;
      }

      &:active {
        box-shadow: 0px 0px 5px $btn;
      }

      &--close {
        height: 44px;

        .menu__line--one {
          margin-bottom: -3px;
          transform: rotate(45deg);
        }

        .menu__line--two {
          display: none;
        }

        .menu__line--three {
          transform: rotate(-45deg);
        }
      }
    }

    &__line {
      display: block;
      max-width: 30px;
      height: 4px;
      background-color: $btn;
      margin: 0 auto;
      margin-bottom: 5px;

      &:last-child {
        margin: 0 auto;
      }
    }

    .container {
      position: relative;
    }

    &__inner {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include r($r-lg) {
        flex-direction: column;
      }

      @include r($r-sm) {
        display: none;
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      padding: 24px 0;
      list-style: none;
      margin-left: -34px;

      @include r($r-sm) {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
      }
    }

    &__item {
      padding-bottom: 25px;
      margin-bottom: -25px;
      margin-left: 34px;

      @include r($r-sm) {
        text-align: center;
        line-height: 3;
        position: relative;
        margin-left: 0;
      }

      &:hover {
        .dropdowns--list {
          height: auto;
          padding: 20px;
          overflow: visible;
          border-top: 1px solid $btn;
        }
      }
    }

    &__link {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 15px;
      color: #333333;
      transition: color 0.3s;

      &:hover {
        color: $btn;
      }
    }

    &__form-wrapper {
      position: relative;
      max-width: 360px;
      width: 100%;

      @include r($r-sm) {
        margin: 0 auto;
      }
    }

    &__form {
      @include r($r-lg) {
        margin-bottom: 10px;
      }

      @include r($r-sm) {
        padding: 0 15px;
      }

      .form__btn {
        @include r($r-sm) {
          right: 15px;
        }
      }
    }
  }
}